header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #e9ecef;
    position: fixed;
}

.links-container {
    display: flex;
    width: 55%;
    min-width: 400px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.admin-tab-container{
    display: flex;
    width: 45%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-placeholder {
   height: 70px;
}

.analyzer_img {
    max-width: 85%;
    border: 3px solid black;
    border-radius: 30px;
    margin: 10px 0;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #e9ecef;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.form {
    height: 100%;
    background-color: #e9ecef;
    border: 3px solid #0d6efd;
    border-radius: 30px;
}
